<%= render 'shared/page_title', title: @team.name %>
  <div class="card col-md-8 offset-md-2 bg-light mb-2 p-2">
    <h4 class="center description"><strong>About my fav team</strong></h4>
    <hr />
    <%= simple_format(@team.description) %>
    <hr />
    <div class="text-right">
      <p class="cent">
        <em>Created by:</em>
      </p>
      <p class="cent">
        <%= link_to gravatar_for(@team.rowdie), team_path %>
      </p>
      <p class="cent">
        <small><%= @team.rowdie.rowdyname.capitalize %></small>
        <div class="text-right"><%= time_ago_in_words(@team.created_at) %> ago </div>
      </p>
    </div>
    <div class="team-actions">
      <% if logged_in? && current_rowdie == @team.rowdie %>
      <%= link_to "Edit your team", edit_team_path(@team), class: "btn btn-xs btn-warning" %>
      <%= link_to "Delete your team", team_path(@team), method: :delete,
                                      data: { confirm: "Are you sure you want to delete this team?" },
                                      class: "btn btn-xs btn-danger" %>
      <% end %>
      <%= link_to "Return to teams listing", teams_path, class: "btn btn-xs btn-primary" %>                             
    </div>
  </div>