<%= render 'shared/page_title', title: "showing all rowdies" %>

<div align="center">
       <%= will_paginate @teams, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end) %>
  <% @rowdies.each do |rowdie| %>
  <ul class="listing">
    <div class="row">
      <div class="card col-md-4 offset-md-4 h-100">
        <li>
          <%= link_to gravatar_for(rowdie), rowdy_path(rowdie) %>
        </li>
        <li class="rowdie-title">
          <%= link_to rowdie.rowdyname.capitalize, rowdies_path(rowdie) %>
        </li>
        <li>
          <small><%= pluralize(rowdie.teams.count, "team") if rowdie.teams %></small>
        </li>
        
        <% if logged_in? && current_rowdie.admin? && !rowdie.admin? %>
        
        <li>
          <%= link_to "Delete this rowdie", rowdy_path(rowdie), method: :delete,
              data: { confirm: "Are you sure you want to delete this rowdie and all associated teams?" } %>
        </li>
        
        <% end %>
        
      </div>
    </div>
  </ul>
  <% end %>
</div>

 
 <%= will_paginate @teams, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end) %>

 