<%= render 'shared/page_title', title: "Rowdie #{@rowdie.rowdyname}'s profile" %>

<div class="row">
  <div class="col-md-4 offset-md-4 center">
    <%= gravatar_for @rowdie, size: 150%>
  </div> 
</div>


<h4 align="center"><%= @rowdie.rowdyname %>'s teams</h4>
 <%= will_paginate @rowdie_teams, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end)  %>
<%= render 'teams/team', obj: @rowdie_teams %>
  <%= will_paginate @rowdie_teams, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end)  %>